<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  <rebus inputQueue="credit.input" errorQueue="error" workers="1" maxRetries="5"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICreditAssessment" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8416/CreditAssessment.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditAssessment"
          contract="Credit.ICreditAssessment" name="BasicHttpBinding_ICreditAssessment" />
    </client>
  </system.serviceModel>
</configuration>