<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  <rebus inputQueue="confirmations.input" errorQueue="error" workers="1" maxRetries="5">
    <endpoints>
       <add messages="Trading.Messages" endpoint="trading.input"/> 
       <add messages="CreditAssessment.Integration.Messages" endpoint="credit.input"/> 
    </endpoints>
  </rebus>
</configuration>