<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>

  <rebus inputQueue="test.auth.client" errorQueue="error" workers="1" maxRetries="5">
    <endpoints>
       <add messages="System.String,mscorlib" endpoint="test.auth.server"/> 
    </endpoints>
  </rebus>
</configuration>